/*_____USER_____*/
.container__user{
    width: 100%;
    max-height: 1000px;
    display: flex;
    overflow: scroll;
    flex-flow: row wrap;
    justify-content: space-around;
}
.user__prev{
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: content-box;
    border: 4px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.3);
}
.user__photo__1{
    width: 90px;
    height: 70px;
    margin: auto;
    background-color: rgb(169, 224, 18);
    -webkit-transform: rotate(7deg);
}
.user__photo__2{
    width: 90px;
    height: 70px;
    margin: auto;
    background-color: rgb(31, 122, 207);
    -webkit-transform: rotate(-7deg);
}
.user__photo__img{
    width: 90px;
    height: 70px;
    display: block;
    object-fit: cover;
    background-color: white;
    -webkit-transform: rotate(-7deg);
}
.user__prev__name{
    width: 210px;
    font-size: 20px;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.user__prev__data{
    width: 200px;
    height: 80px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}
.user__prev__data__{
    width: 400px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.user__prev__data div img{
    width: 25px;
    height: 25px;
    display: block;
    object-fit: cover;
    margin-right: 10px;
}
.user__prev__button{
    width: 100px;
    height: 80px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
}
.user__prev__button button{
    background-color: transparent;
    border-width: 0px;
}
.user__prev__button button img{
    width: 33px;
    object-fit: cover;
}
/*_____NAV BAR____*/
.nav__bar{
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0.7);
}
.nav__bar ul{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
}
.nav__bar ul li{
    padding: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 15px;
}
/*_____Container General Giphy and Marvel______*/
.container__R{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.user__container{
    width: 100%;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0.4);
}
.user__container form input{
    width: 300px;
    height: 25px;
    box-sizing: content-box;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 5px 5px;
}
.user__container form input::-webkit-input-placeholder{
    color: black;
    padding-left: 5px;
}
.button__Create__Modify__User{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.button__Create__Modify__User button{
    height: 40px;
    width: 100px;
    color: white;
    background-color: transparent;
}
/*_____Container Giphy and Marvel_____*/
.gifs__container{
    width: 100%;
    height: 650px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.user__favourite__container{
    width: 95%;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: scroll;
    margin: 10px;
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
}
.user__favourite{
    width: 200px;
    height: 200px;
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
}
.user__favourite__photo{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-image: 1px solid bisque;
}
.user__search{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.user__search button{
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(165, 42, 42, 0.5);
}
.user__search form input{
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
    border-radius: 7px 7px 7px 7px;
}
.user__search form input::-webkit-input-placeholder{
    color: black;
    padding-left: 5px;
}
.user__search__select{
    margin: 20px;
    height: 25px;
    width: 150px;
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
}
.user__search__type{
    margin: 20px;
}
.user__search__type__recent{
    color: black;
    text-decoration: none;
}
.user__search__type__trending{
    color: black;
    text-decoration: none;
}
.user__search__type__recent:hover{
    color: rgb(155, 83, 7);
    text-decoration: none;
}
.user__search__type__trending:hover{
    color: rgb(155, 83, 7);
    text-decoration: none;
}
.user__show__container--general{
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
}
.user__show__container{
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.user__show__container__marvel{
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    margin: 10px;
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
}
.type__change--left{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
.type__change--right{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
.user__show__views{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
}
.user__show__views__marvel{
    width: 200px;
    height: 200px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.user__show__views__photo__gifs{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-image: 1px solid bisque;
}
.user__show__views__photo__marvel{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-image: 1px solid bisque;
}
/*_______Ng-Style_______*/
/*_Error_Valid_*/
input.ng-touched.ng-dirty.ng-invalid.ng-not-empty{
    border: 2px solid red;
}
input.ng-touched.ng-pristine.ng-valid-required.ng-invalid.ng-not-empty{
    border: 2px solid red;
}
input.ng-untouched.ng-pristine.ng-valid-required.ng-invalid.ng-not-empty{
    border: 2px solid red;
}
.blackStyle{
    font-weight: bold;
    color: black;
}
.borderBlackStyle{
    border: 1px solid black;
}
.borderGreenStyle{
    border: 1px solid rgb(70, 209, 15);
}