/*_____USER_____*/
.container__user{
    width: 100%;
    height: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 255, 0, 0.4);
    background-color: rgba(156, 205, 50, 0.4);
    overflow: scroll;
}
.user{
    margin: 35px;
    padding: 20px;
    max-width: 600px;
    max-height: 300px;
    border: 3px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
    border-radius: 9px 9px 9px 9px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.user__photo{
    margin: 5px;
    max-width: 200px;
    max-height: 200px;
}
.user__photo img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: white;
}
.user__prev{
    width: 300px;
    margin: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: space-between;
}
.user__prev__data{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
}
.user__prev__data p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;
    text-align: left;
}
.user__prev__data_button{
    display: inline-flex;
    align-items: center;
    align-self: center;
    height: 50px;
}
.user__prev__data_button button{
    background-color: transparent;
    border-width: 0px;
}
.user__prev__data_button button img{
    object-fit: contain;
}
/*_____NAV BAR____*/
.nav__bar{
    width: 95%;
    height: 40px;
    display: flex;
    margin-top: 10px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: 0.5px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
}
.nav__bar ul{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
}
.nav__bar ul li{
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 15px;
}
/*_____Container General Giphy and Marvel______*/
.container__R{
    height: 800px;
    border: 1px solid rgba(128, 255, 0, 0.4);
    background-color: rgba(156, 205, 50, 0.4);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.newUser{
    margin-left: 30px;
    width: 90%;
    height: 600px;
}
.newUser form input{
    width: 300px;
    height: 25px;
    box-sizing: content-box;
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
    box-shadow: 1px 1px 1px 1px rgba(247, 169, 81, 0.555);
    border-radius: 7px 7px 7px 7px;
}
.newUser form input::-webkit-input-placeholder{
    color: black;
    padding-left: 5px;
}
.button__Create__Modify__User{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button__Create__Modify__User button{
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(165, 42, 42, 0.5);
    height: 40px;
    width: 100px;
}
/*_____Container Giphy and Marvel_____*/
.user__container{
    width: 100%;
    height: 650px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.user__favourite__container{
    width: 95%;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: scroll;
    margin: 10px;
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
}
.user__favourite{
    width: 200px;
    height: 200px;
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
}
.user__favourite__photo{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-image: 1px solid bisque;
}
.user__search{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.user__search button{
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(165, 42, 42, 0.5);
}
.user__search form input{
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
    border-radius: 7px 7px 7px 7px;
}
.user__search form input::-webkit-input-placeholder{
    color: black;
    padding-left: 5px;
}
.user__search__select{
    margin: 20px;
    height: 25px;
    width: 150px;
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
}
.user__search__type{
    margin: 20px;
}
.user__search__type__recent{
    color: black;
    text-decoration: none;
}
.user__search__type__trending{
    color: black;
    text-decoration: none;
}
.user__search__type__recent:hover{
    color: rgb(155, 83, 7);
    text-decoration: none;
}
.user__search__type__trending:hover{
    color: rgb(155, 83, 7);
    text-decoration: none;
}
.user__show__container--general{
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
}
.user__show__container{
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.user__show__container__marvel{
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    margin: 10px;
    border: 1px ridge rgba(165, 42, 42, 0.5);
    background-color: rgba(247, 169, 81, 0.555);
}
.type__change--left{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
.type__change--right{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
.user__show__views{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
}
.user__show__views__marvel{
    width: 200px;
    height: 200px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.user__show__views__photo__gifs{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-image: 1px solid bisque;
}
.user__show__views__photo__marvel{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-image: 1px solid bisque;
}
/*_______Ng-Style_______*/
input.ng-valid.ng-touched{
    border-right: 5px solid greenyellow;
}
input.ng-invalid.ng-dirty.ng-touched{
    border-right: 5px solid red;
}
.blackStyle{
    font-weight: bold;
    color: black;
}
.borderBlackStyle{
    border: 1px solid black;
}