/*_____USER_____*/
.user__container{
    width: 100%;
    max-height: 800px;
    display: flex;
    overflow: scroll;
    flex-flow: row wrap;
    justify-content: space-around;
}
.user__prev{
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: content-box;
    border: 4px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.3);
}
.user__photo__1{
    width: 90px;
    height: 70px;
    margin: auto;
    background-color: rgb(169, 224, 18);
    -webkit-transform: rotate(7deg);
}
.user__photo__2{
    width: 90px;
    height: 70px;
    margin: auto;
    background-color: rgb(31, 122, 207);
    -webkit-transform: rotate(-7deg);
}
.user__photo__img{
    width: 90px;
    height: 70px;
    display: block;
    object-fit: cover;
    background-color: white;
    -webkit-transform: rotate(-7deg);
}
.user__prev__name{
    width: 210px;
    font-size: 20px;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.user__prev__data{
    width: 200px;
    height: 80px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}
.user__prev__data__{
    width: 400px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.user__prev__data div img{
    width: 25px;
    height: 25px;
    display: block;
    object-fit: cover;
    margin-right: 10px;
}
.user__prev__button{
    width: 100px;
    height: 80px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
}
.user__prev__button button{
    background-color: transparent;
    border-width: 0px;
}
.user__prev__button button img{
    width: 33px;
    object-fit: cover;
}
/*_____NAV BAR____*/
.nav__bar{
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0.7);
}
.nav__bar ul{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
}
.nav__bar ul li{
    padding: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 15px;
}
/*_____Container General Giphy and Marvel______*/
.container__R{
    width: 100%;
    height: 800px;
    display: flex;
    flex-flow: column nowrap;
}
.view__container{
    width: 100%;
    min-height: 600px;
    max-height: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0.4);
}
.view__container form input{
    width: 300px;
    height: 25px;
    box-sizing: content-box;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 5px 5px;
}
.view__container form input::-webkit-input-placeholder{
    color: black;
    padding-left: 5px;
}
.button__Create__Modify__User{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.button__Create__Modify__User button{
    height: 40px;
    width: 100px;
    color: white;
    background-color: transparent;
}
/*_____Container Giphy and Marvel_____*/
.view__container__favourite{
    width: 100%;
    min-height: 600px;
    max-height: 800px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0.4);
}
.view__favourite__container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: scroll;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
}
.view__favourite{
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
}
.view__favourite__photo{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.user__search{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
}
.user__search button{
    width: 170px;
    height: 35px;
    color: white;
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.4);
}
.user__search form input{
    width: 200px;
    height: 35px;
    border-width: 0px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}
.user__search form input::-webkit-input-placeholder{
    color: black;
    padding-left: 5px;
}
.user__search__select{
    height: 35px;
    width: 200px;
    margin: 20px;
    background-color: white;
}
.user__search__type{
    height: 35px;
    width: 200px;
    margin: 20px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.user__search__type__recent{
    width: 200px;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-right: 1px solid black;
}
.user__search__type__trending{
    width: 200px;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-left: 1px solid black;
}
.user__search__type__recent:hover{
    color: rgb(13, 107, 184);
    text-decoration: none;
}
.user__search__type__trending:hover{
    color: rgb(13, 107, 184);
    text-decoration: none;
}
.view__container--general{
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    justify-content: space-between;
}
.type__change--left{
    width: 10%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
.type__change--right{
    width: 10%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
.view__type__container{
    width: 80%;
    height: 80%;
    display: flex;
    overflow: scroll;
    flex-flow: row wrap;
    justify-content: center;
    border: 1px dotted grey;
    border-radius: 5px 5px 5px 5px;
}
.view__type__gifs{
    width: 200px;
    height: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.view__type__marvel{
    width: 200px;
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.views__photo__gifs{
    width: 175px;
    height: 175px;
    object-fit: contain;
}
.views__photo__marvel{
    width: 175px;
    height: 375px;
    object-fit: contain;
}
/*_______Ng-Style_______*/
/*_Error_Valid_*/
input.ng-touched.ng-dirty.ng-invalid.ng-not-empty{
    border: 2px solid red;
}
input.ng-touched.ng-pristine.ng-valid-required.ng-invalid.ng-not-empty{
    border: 2px solid red;
}
input.ng-untouched.ng-pristine.ng-valid-required.ng-invalid.ng-not-empty{
    border: 2px solid red;
}
.blackStyle{
    font-weight: bold;
    color: black;
}
.borderBlackStyle{
    border: 1px solid black;
    padding: 5px;
}
.borderGreenStyle{
    border: 1px solid rgb(70, 209, 15);
}