<link rel="stylesheet" href="/components/personalFormUser/personalFormUserStyle.css">

<div class="user__container">
    <div class="newUser" ng-model-options="{allowInvalid: true, debounce: 200}">
        <form name="$PUS.formUser" ng-model="$PUS.formUser" class="newUser__form" ng-model-options="{updateOn: 'blur', allowInvalid : '$inherit'}">
            <h3>Name: </h3>
            <input name="$PUS.Name" placeholder="Name user" type="text" ng-required="true" ng-model="$PUS.user.name" ng-minlength="3" ng-maxlength="15" ng-model-options="{updateOn: 'blur', allowInvalid : '$inherit'}">
            <h3>E-mail: </h3>
            <input name="$PUS.Email" placeholder="Email user" type="email" ng-required="true" ng-model="$PUS.user.email" ng-minlength="5" ng-model-options="{updateOn: 'blur', allowInvalid : '$inherit'}">
            <h3>Phone: </h3>
            <input name="$PUS.Phone" placeholder="Phone user" type="number" ng-required="true" ng-model="$PUS.user.phone" ng-minlength="9" ng-maxlength="9" ng-model-options="{updateOn: 'blur', allowInvalid : '$inherit'}">
            <h3>Photo: </h3>
            <input name="$PUS.Photo" placeholder="Photo user" type="text" ng-required="true" ng-model="$PUS.user.photo" ng-minlength="5" ng-model-options="{updateOn: 'blur', allowInvalid : '$inherit'}">
        </form>
    </div>
</div>