<link rel="stylesheet" href="/components/sliderMarvel/sliderMarvelStyle.css">

<div class="component__view__container__marvel--general">
    <div 
        ng-hide="$ctrl.arrowLeft" 
        class="component__type__change__marvel--left" 
        ng-click="$ctrl.getMarvel({offset:'si', direction:'left'})">
        <img src="/img/flecha-left.png">
    </div>
    <div class="component__view__type__marvel--container">
        <div 
            class="component__view__type__marvel" 
            ng-repeat="marvel in $ctrl.marvels track by marvel.id">
            <img 
                class="component__views__photo__marvel" 
                ng-class="{component__border__black__marvel__style:$ctrl.checkMarvel({id:marvel.id})}" 
                ng-click="$ctrl.addMarvelFav({data:marvel})" 
                ng-src="{{::marvel.photo}}" 
                onerror="this.src='/img/no_image.png'">
        </div>
    </div>
    <div 
        ng-hide="$ctrl.arrowRight" 
        class="component__type__change__marvel--right" 
        ng-click="$ctrl.getMarvel({offset:'si', direction:'right'})">
        <img src="../img/flecha-right.png">
    </div>
</div>