<div class="container-fluid" ng-cloak>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="agend__user__data__personal__container">
                <a class="back__user__button" href="#!/">Back</a>
                <div class="agend__user__data__personal">
                    <div class="agend__user__data__personal__photo"><img ng-src="{{userCtrl.user.photo}}" onerror="this.src='/img/no_image.png'"></div>
                    <div class="agend__user__data__personal__name">{{userCtrl.user.name}}</div>
                    <div class="agend__user__data__personal__information">
                        <h3 class="agend__user__data__personal__information--title"><b>Datos Personales</b></h3>
                        <p>Phone: {{userCtrl.user.phone}} <br>
                        Email: {{userCtrl.user.email}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="agend__user__favourite__container">
                <h3 class="agend__user__favourite--title"><b>Favourite Gifs</b></h3>
                <div class="agend__user__favourite__parent">
                    <div class="agend__user__favourite" ng-repeat="giphy in userCtrl.user.giphy track by giphy.id">
                        <img class="agend__user__favourite__photo" ng-click="userCtrl.deleteGifsFav(giphy)" ng-src="{{giphy.photo}}" onerror="this.src='/img/no_image.png'">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="agend__user__favourite__container">
                <h3 class="agend__user__favourite--title"><b>Favourite Comics</b></h3>
                <div class="agend__user__favourite__parent">
                    <div class="agend__user__favourite" ng-repeat="marvel in userCtrl.user.marvel track by marvel.id">
                        <img class="agend__user__favourite__photo" ng-click="HomeCtrl.deleteMarvelFav(marvel)" ng-src="{{marvel.photo}}" onerror="this.src='/img/no_image.png'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>