<link rel="stylesheet" href="/components/gifsContainer/gifsContainerStyle.css">

<div class="component__view__favourite__gifs--general">
    <div class="component__view__favourite__gifs--container">
        <div 
            class="component__view__favourite__gifs" 
            ng-repeat="giphy in $ctrl.user.giphy track by giphy.id">
            <img 
                class="component__view__favourite__photo__gifs" 
                ng-click="$ctrl.deleteGifFav(giphy)" 
                ng-src="{{giphy.photo}}" 
                onerror="this.src='/img/no_image.png'">
        </div>
    </div>
    <div class="component__user__search__gifs">
        <form name="$ctrl.formSG">
            <input 
                type="text" 
                placeholder="Search Giphy" 
                ng-model="$ctrl.search_giphy.text" 
                ng-required="true" 
                ng-minlength="1">
        </form>
        <div class="component__user__search__type__gifs">
            <a class="component__user__search__type__recent__gifs" 
                ng-class="{component__black__style__gifs:($ctrl.typeGiphy=='search')}" 
                ng-click="$ctrl.typeGiphy='search'">
                Recents
            </a>
            <a class="component__user__search__type__trending__gifs"
                ng-class="{component__black__style__gifs:($ctrl.typeGiphy=='trending')}"
                ng-click="$ctrl.typeGiphy='trending'">
                Trending
            </a>
        </div>
        <button 
            ng-disabled="$ctrl.formSG.$invalid"
            ng-click="$ctrl.getGifs('no')"
            ng-class="{component__border__green__style__gifs:$ctrl.formSG.$valid}">
            Search Giphy
        </button>
    </div>
    <slider-gifs 
        style="width:100%; height:500px"
        gifs='$ctrl.giphyList' 
        arrow-left='$ctrl.ArrowLeft'
        arrow-right='$ctrl.ArrowRight'
        get-gifs='$ctrl.getGifs(offset,direction)'
        check-gif='$ctrl.checkGif(id)'
        add-gif-fav="$ctrl.addGifFav(data)">
    </slider-gifs>
</div>