/*_____NAV BAR____*/
.component__nav__bar--nav{
    height: 100%;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.component__nav__bar__img--start{
    width: 20%;
    /* width: 15%; */
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.component__nav__bar--middle{
    width: 60%;
    /* width: 55%; */
    height: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
}
.component__nav__bar__search--end{
    width: 20%;
    /* width: 30%; */
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.component__nav__bar__img--start img{
    width: 90%;
    height: 75%;
    background-color: transparent;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.component__nav__bar--middle li{
    width: 90%;
    height: 100%;
    padding: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.component__nav__bar__search{
    width: 80%;
    height: 55%;
    border-width: 0px;
    padding-left: 50px;
    border-radius: 6px 6px 6px 6px;
    background-color: #5c6269;
    background-image: url('/img/lupa.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.component__nav__bar__search::-webkit-input-placeholder{
    color: white;
}